<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--Enables the Spring MVC @Controller programming model -->
   <mvc:annotation-driven />

    <context:component-scan base-package="com.springapp.mvc.controller" />
    <!-- -->


    <!-- Handles HTTP GET requests for /resources/** by efficiently serving
   up static resources in the ${webappRoot}/resources directory -->
    <mvc:resources mapping="/resource/**" location="/"/>

     <!-- JDBC setting -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://37.140.192.67:3306/u0072197_webmag" />
        <property name="username" value="u0072197_webmag" />
        <property name="password" value="mEkCt1D7" />
    </bean>
    <!-- Hibernate session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.springapp.mvc"/>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>
    <!-- Hibernate transaction manager -->
    <bean id="transactionManager" name="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- Resolves views selected for rendering by @Controllers to .jsp resources
    in the /WEB-INF/views directory-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/pages/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>


    <bean id="categoryService" class="com.springapp.mvc.service.CategoryServiceImpl" />
    <bean id="categoryDAO" class="com.springapp.mvc.dao.CategoryDaoImpl"/>

    <bean id="productService" class="com.springapp.mvc.service.ProductServiceImpl" />
    <bean id="productDAO" class="com.springapp.mvc.dao.ProductsDaoImpl"/>

  </beans>